@font-face {
  font-family: 'ThorupSansSmallCaps';
  src: url("../fonts/thorup/ThorupSansSmallCaps.ttf");
}

@font-face {
  font-family: 'thorup-bold';
  src: url("../fonts/thorup/ThorupSansBold.ttf");
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'raleway-italic';
  src: url("../fonts/raleway/Raleway-Italic.ttf");
}

@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url("../fonts/raleway/Raleway-BlackItalic.ttf");
}


@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url("../fonts/raleway/Raleway-BoldItalic.ttf");
}

